In [7]:
a=10
b="Shubham"
c=10
d=3+2j
print(id(a))
print(id(c))
print(b)
print(type(a))
print(type(d))
print(d)

135634846515728
135634846515728
Shubham
<class 'int'>
<class 'complex'>
(3+2j)

In [10]:
print(int(3.5))
print(int("5"))
# print(int("3.5"))
#print(int(6+2j))
print(int("5"))
#print(int("five"))

3
5
5

In [11]:
a=2
b=3
res=complex(a,b)
print(res)
print(complex(True))
print(complex(3))
print(complex(False))
print(complex(True,False))

(2+3j)
(1+0j)
(3+0j)
0j
(1+0j)

In [12]:
list1=["Rahul","Sonu","Monu"]
print("Rahul" in list1)
print("Shubham" in list1)

True
False

In [13]:
x="hello learning Python is very easy!"
print('h' in x)
print('d' not in x)
print('python' in x)

True
True
False

In [14]:
a=10
b=10
print(a is not b)
x=True
y=True
print(x is y)

False
True

In [ ]:
print(bool(True))
print(bool(False))
print(bool("5"))
print(bool(""))

In [15]:
print(float (3.5))
print(float("3.5"))
print(float (3))
#print(float (6+2]))
print(float ("5" ))
#print (float ("five")

3.5
3.5
3.0
5.0

In [16]:
import math
r=5
area=math.pi*(r**2)
print("Area of cicle ",area)

Area of cicle  78.53981633974483

In [17]:
import math as m
r=5
area=m.pi*(r**2)
print("Area of cicle ",area)

Area of cicle  78.53981633974483

In [18]:
a=input("Enter a value")
b=input("Enter b value")
print("Addition is ",a+b)

Enter a value22
Enter b value32
Addition is  2232

In [20]:
'''
a=int(input("Enter a value"))
b=int(input("Enter b value"))
print("Addition is ",a+b)'''
a=(input("Enter a value"))
b=(input("Enter b value"))
print("Addition is ",int(a)+int(b))

Enter a value2
Enter b value2
Addition is  4

In [22]:
print("Addition is ",int(input("Enter a value"))+int(input("Enter b value")))

Enter a value2
Enter b value2
Addition is  4

In [31]:
print("Hello \n world") #escape sequence operator
print("Hello \t world")
print("Hello" + "World")
print("Hello"*3)
print("Hello \\n world")

Hello
 world
Hello 	 world
HelloWorld
HelloHelloHello
Hello \n world

In [34]:
a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep=":")

10 20 30
10:20:30

In [37]:
print("Hello",end=" ")
print("Shubham")

Hello Shubham

In [39]:
a,b,c=10,20,30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [40]:
name="Shubham"
salary=30000
company="TCS"
print("Hello {0} your salary is {1} and Company {2}". format (name, salary, company))
print("Hello {x} your salary is {y} and Company {z}".format (x=name, y=salary, z=company))

Hello Shubham your salary is 30000 and Company TCS
Hello Shubham your salary is 30000 and Company TCS

In [42]:
# Find last digit of a Number:
a=23546
b=int(input("Enter a value"))
print(a%10)
print(b%10)

Enter a value5657
6
7

In [43]:
x=eval(input("Enter x value"))
print(x)

Enter x value10*5+78
128

In [44]:
x=eval(input("Enter x value"))
print(x)

Enter x value[19,56,789,90]
[19, 56, 789, 90]

In [5]:
# Find Sum of 2 digit no.:
a=int(input("Enter a Number:"))
n1=a//10  #use floor division for integer result
n2=a%10
print(n1+n2)

Enter a Number:45
9

In [6]:
# Find Sum of 3 digit no.:
a=int(input("Enter a Number:"))
b=a%10
a=a//10
c=a%10
a=a//10
d=a%10
print(b+c+d)

Enter a Number:456
15

In [7]:
# Find Sum of 5 digit no.:
a=int(input("Enter a Number:"))
b=a%10
a=a//10
c=a%10
a=a//10
d=a%10
a=a//10
e=a%10
a=a//10
f=a%10
print(b+c+d+e+f)

Enter a Number:12345
15

In [10]:
#Reverse of 3 digit number:
a=int(input("Enter a number: "))
b=a%10
a=a//10
c=a%10
a=a//10
d=a%10
res=b*100+c*10+d*1
print(res)

Enter a number: 123
321

In [11]:
# Reverse of a 5 digit number:
a=int(input("Enter a Number:"))
b=a%10
a=a//10
c=a%10
a=a//10
d=a%10
a=a//10
e=a%10
a=a//10
f=a%10
res=b*10000+c*1000+d*100+e*10+f*1
print(res)

Enter a Number:12345
54321

In [12]:
#sum of first and last digit of a 9 digit number:
a=int(input("Enter a Number:"))
n1=a%10
n2=a//100000000
print(n1+n2)

Enter a Number:123456789
10

In [14]:
s="Shubham"
print(s[0])
print(s[-1])
print(s[0:4])  #slicing
print(s[2:4])
print(s[:4])
print(s[2:])
print(s[::])
print(s[::-1])
print(s[1:4:2])

S
m
Shub
ub
Shub
ubham
Shubham
mahbuhS
hb

In [16]:
#simple if:
# Accepy 5 numbers & find max number:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
c=int(input("Enter c value"))
d=int(input("Enter d value"))
e=int(input("Enter e value"))
if a>b and a>c and a>d and a>e:
  print("a is max")
if b>a and b>c and b>d and b>e:
  print("b is max")
if c>a and c>b and c>d and c>e:
  print("c is max")
if d>a and d>b and d>c and d>e:
  print("d is max")
if e>a and e>b and e>c and e>d:
  print("e is max")

Enter a value1
Enter b value2
Enter c value3
Enter d value4
Enter e value5
e is max

In [22]:
a=int(input("Enter a value"))
b=int(input("Enter b value"))
c=int(input("Enter c value"))
gender=input("Enter gender(F/M)")
res=(a+b+c)/3
if res>=82 and gender=="F":
  print("She can take Admission")
elif res>=62 and gender=="M":
  print("He can take Admission")
else:
  print("Can't take Admission")

Enter a value92
Enter b value95
Enter c value99
Enter gender(F/M)F
She can take Admission

In [23]:
#Accept a Year and check leap year or not:
#(Use Centuary and non centuary Concept):
year = int(input("Enter year value :- "))
if (year % 100 != 0) :
    print("Non Century Year")
    if(year % 4 == 0) :
        print("Leap Year")
    else :
        print("Not Leap Year")
else :
    print("Century Year")
    if(year % 400 == 0) :
        print("Leap Year")
    else :
        print("Not Leap Year")

Enter year value :- 2024
Non Century Year
Leap Year

In [29]:
cp=int(input("Enter cost price: "))
userType=input("Enter user type(student/general): ")
if (userType=="student"):
  if(cp>500):
    discount=10
  else:
    discount=5
else:
  if(cp>500):
    discount=8
  else:
    discount=2
NP=cp-cp*discount/100
print("Discounted price is ",NP)
print("disount is ",discount)
print("Cost Price is: ",cp)

Enter cost price: 100
Enter user type(student/general): student
Discounted price is  95.0
disount is  5
Cost Price is:  100

In [34]:
x=(input("Enter a character: "))
no=ord(x)   # convert the character in Ascii value by ord function
if no>=65 and no<=90:
  print("Upper Case")
elif no>=97 and no<=122:
  print("Lower Case")
elif no>=48 and no<=57:
  print("Digit")
else:
  print("special symbol")

Enter a character: A
Upper Case

In [37]:
#Looping: if we want execute a block of statements or no. of statements repeteadely again and again till the condition is satisfied then looping is used.
#For Loop is used when range is Given while, While Loop is used when range is not given.
#reverse the number:
no=int(input("Enter a Number: "))
rev=0
while no>0:
  rem=no%10
  no=no//10
  rev=rev*10+rem
print(rev)

Enter a Number: 1234
4321

In [38]:
#Accept a number and count number of digits entered by user:
no=int(input("Enter a Number: "))
cnt=0
while no>0:
  x=no%10
  no=no//10
  cnt=cnt+1
print(cnt)

Enter a Number: 145678
6

In [39]:
#Accept a number and print sum of digits of any number:
no=int(input("Enter a number: "))
sum=0
while no>0:
  x=no%10
  no=no//10
  sum=sum+x
print(sum)

Enter a number: 12345
15

In [41]:
# Accept a number and find multiplication of any number:
no=int(input("Enter a number: "))
mul=1
while no>0:
  x=no%10
  no=no//10
  mul=mul*x
print(mul)

Enter a number: 547
140

In [43]:
#Accept a number and find factorial of that number:
no=int(input("Enter a number: "))
fact=1
while no>0:
  fact=fact*no
  no=no-1
print(fact)

Enter a number: 6
720

In [6]:
# Accept a number and check no is armstrong:
no=int(input("Enter a number: "))
temp=no
temp1=no
sum=0
cnt=0
while temp>0:
  temp=temp//10
  cnt=cnt+1
while no>0:
  x=no%10
  no=no//10
  sum=sum+x**cnt
if sum==temp1:
    print("Armstrong")
else:
    print("Not Armstrong")

Enter a number: 9474
Armstrong

In [8]:
#print 1 to 10000 all armstrong numbers:
for i in range(1,10000):
  temp=i
  temp1=i
  sum=0
  cnt=0
  while temp>0:
    temp=temp//10
    cnt=cnt+1
  while i>0:
    x=i%10
    i=i//10
    sum=sum+x**cnt
  if sum==temp1:
    print(temp1)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474

In [53]:
# peterson Number(sum of facorial of every digit is equal to that number):
no=int(input("Enter a number: "))
temp=no
sum=0
while(no>0):
  rem=no%10
  fact=1
  for i in range(1,rem+1):
    fact=fact*i
  no=no//10
  sum=sum+fact
if sum==temp:
  print("Peterson Number")
else:
  print("Not Peterson Number")

Enter a number: 145
Peterson Number

In [12]:
#Tech Number(A number is called a tech number if the given number has an even number of digits and the number can be divided exactely into two parts from the middle. After qually dividing the number, sum up the numbers and find the square of the sum. If we get the number itself as square, the given number is a tect number, else, not a tech number.)
no=int(input("Enter a number: "))
temp=no
cnt=0
while no>0:
  no=no//10
  cnt=cnt+1
if(cnt%2==0):
  div=10**(cnt//2)
  w=temp%div
  y=temp//div
  z=w+y
  res=z**2
  if res==temp:
    print("Tech Number")
  else:
    print("Not Tech Number")
else:
  print("Not Tech Number")

Enter a number: 2025
Tech Number