In [ ]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,6):
  if i==3:
    continue
  print(i,11-i)

1 10
2 9
4 7
5 6

In [ ]:
j=10
for i in range(1,6):
  if i==3:
    j=j-1
    continue
  print(i,"\t",j)
  j=j-1

1 	 10
2 	 9
4 	 7
5 	 6

In [ ]:
#For Loops:
for i in range(1,5):
  for j in range(1,5):
    print(i,end="")
  print()

1111
2222
3333
4444

In [ ]:
for i in range(1,5):   #for rows
  for j in range(1,5): #for cols
    print(j,end="")
  print()

1234
1234
1234
1234

In [ ]:
n=1
for i in range(1,5):
  for j in range(1,5):
    print(n,end="")
    n+=1   #short-hand operator
  print()

In [ ]:
n=65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end=" ")
    n+=1
  print()

A B C D
E F G H
I J K L
M N O P

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end=" ")
    j+=1
  print()

1
22
333
4444

In [ ]:
for i in range(1,5):
  for j in range(5,i,-1):
    print("*",end="")
  print()

****
***
**
*

In [1]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(5,i,-1):
      print("*",end="")
  print()

****
 ***
  **
   *

In [2]:
for i in range(1,5):
  for j in range(5,i,-1):
    if j>i:
      print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****

In [ ]:
#strings:
s="Learning Python is very easy from Ashish sir"
print(s.find("Python"))
print(s.find("Java"))
print(s.find("r"))
print(s.rfind("r")) #right to lest search.

9
-1
3
43

In [ ]:
s="abcdaabbccddabcddcbaabbdddcccb"
print(s.count("a"))
print(s.count("ab"))
print(s.count("cc"))
print(s.count("a",3,10))

6
4
2
2

In [ ]:
s="Learning Python is very difficult from Ashish sir"
print(s.replace("difficult","easy"))
x="abbbbaaabaaabbaaabbbb"
y=x.replace("a","b")
print(y)

Learning Python is very easy from Ashish sir
bbbbbbbbbbbbbbbbbbbbb

In [ ]:
# immutable:can't be change in same memory.

In [ ]:
#split function:
s="Learning Python is very difficult from Ashish sir"
s1="22-02-2024"
l=s.split()
print(l)
print(type(l))
for x in l:
  print(x)
l1=s1.split("-")
print(l1)

['Learning', 'Python', 'is', 'very', 'difficult', 'from', 'Ashish', 'sir']
<class 'list'>
Learning
Python
is
very
difficult
from
Ashish
sir
['22', '02', '2024']

In [ ]:
#join function:
l=['Nagpur','Pune','Mumbai','Delhi']
s=':'.join(l)
print(s)

Nagpur:Pune:Mumbai:Delhi

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s. startswith( 'learning'))
print(s. endswith( 'learning'))
print(s.endswith('sir'))

True
False
True

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s.upper ())
print(s. lower())
print(s. swapcase())
print(s.title())
print(s. capitalize())

LEARNING PYTHON IS VERY EASY FROM ASHISH SIR
learning python is very easy from ashish sir
LEARNING pYTHON IS VERY eASY FROM aSHISH SIR
Learning Python Is Very Easy From Ashish Sir
Learning python is very easy from ashish sir

In [ ]:
print ('Ashish786' .isalnum ())
#True
print('ashish786' .isalpha())
#False
print( 'ashish' .isalpha())
#True
print('ashish' .isdigit())
#False
print('786786' .isdigit())
#True
print('abc' .islower()) #True
print( 'Abc'. islower()) #False
print('abc123' .islower()) #True
print( 'ABC' .isupper()) #True
print( 'Learning python is Easy from Ashish Sir'.istitle())
#False
26
print( 'Learning Python Is Easy From Ashish Sir'.istitle())
#True
27
print(' '.isspace()) #True

True
False
True
False
True
True
False
True
True
False
True
True

In [ ]:
mob=input("Enter mobile number: ")
if len(mob)==10:
  if mob.isdigit():
    if mob.startswith('6') or mob.startswith('7') or mob.startswith('8') or mob.startswith('9'):
      print("Valid Mobile Number")
    else:
      print("Invalid Mobile Number")
  else:
    print("Invalid Mobile Number")
else:
  print("Please Enter a 10 digit Mobile Number")

Enter mobile number: 9664062302
Valid Mobile Number

In [ ]:
#Reverse a string:
# 1st way:
s=input("Enter a string")
print(s[::-1])
#2nd way:
print(''.join(reversed(s)))

Enter a stringShubham
mahbuhS
mahbuhS

In [ ]:
#Reverse a string without using any function:
s=input("Enter a string")
rev=''
for i in s:
  rev=i+rev
print(rev)

Enter a stringShubham
mahbuhS

In [ ]:
#program ro reverse order of words
s='learning Python is very Easy from Ashish sir'
l=s.split()
x=''
for i in l:
  x=i+' '+x
print(x)

sir Ashish from Easy very is Python learning

In [ ]:
s='learning Python is very Easy from Ashish sir'
l=s.split()
x=''
for i in l:
  print(x+''.join(reversed(i)),end=" ")

gninrael nohtyP si yrev ysaE morf hsihsA ris

In [ ]:
#input: ABCDABBCDABBBCCCDDEEEF
# output: ABCDEF
# unique string
s= "ABDACDABBCDABBBCCCDDEEEF"
x = ''
for i in s:
  if i not in x:
    x = x + i
print(x)

ABDCEF

In [ ]:
l=[]
l1=()
l2={}
l3=set()
print(l)
print(l1)
print(l2)
print(l3)
print(type(l))
print(type(l1))
print(type(l2))
print(type(l3))

[]
()
{}
set()
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [ ]:
list=[]
list. append ("A")
list. append ("B")
list. append ("C")
list.insert(1,"2")
list[3]=343
print(list)

list=[]
for i in range (101):
  if i%10==0:
    list.append(i)
print(list)

['A', '2', 'B', 343]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
order1=["Chicken", "Mutton", "Fish"]
order2=[ "PEPSI", "COKE" , "DEW" ]
order1. extend (order2)
print (order1)

['Chicken', 'Mutton', 'Fish', 'PEPSI', 'COKE', 'DEW']

In [ ]:
m=[10,20,10,30]
m.remove(10)
print(m)
m.remove(30)
print(m)

[20, 10, 30]
[20, 10]

In [ ]:
n1=[10,20,10,30]
n2=[2,42,4,24, 2]
res=n1+n2
print(res)
res = n1 * 3
print(res)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [ ]:
n=[10,20,10,30]
n.remove (10)
print(n)
n. remove ( 30)
n.pop()
print(n)

[20, 10, 30]
[20]

In [ ]:
# Nested List
n=[10,20, 30, [23, 56, 23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

In [ ]:
n=[[10,20, 30], [40, 50, 60], [70, 80, 90]]
print(n)
for x in n:
  print (x)
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end="")
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
102030
405060
708090

In [3]:
sem = int(input("Enter the No. of Semester :- "))
sub = []
for i in range(sem):
  print("Enter the no of subject in ", i + 1, "Semester :- ")
  sb = int(input())
  sub.append(sb)

sma = []
maxMarks = []
for i in range(sem):
  for j in range(sub[i]):
    print("Enter the ", i + 1, " semester ", j + 1,  " subject Marks :- ")
    sm = int(input())
    sma.append(sm)
print(sub)
print(sma)

count = 0
p = 0
for i in range(len(sub)):
  x = sub[i]
  count += x
  maxi = 0
  for j in range(p, count):
    if j < len(sma) and sma[j] > maxi:
      maxi = sma[j]
  p = count
  maxMarks.append(maxi)


for i in range(len(maxMarks)) :
    print("Maximum marks in ", i + 1, " semester :- ", maxMarks[i])

Enter the No. of Semester :- 3
Enter the no of subject in  1 Semester :-
3
Enter the no of subject in  2 Semester :-
3
Enter the no of subject in  3 Semester :-
3
Enter the  1  semester  1  subject Marks :-
89
Enter the  1  semester  2  subject Marks :-
89
Enter the  1  semester  3  subject Marks :-
89
Enter the  2  semester  1  subject Marks :-
79
Enter the  2  semester  2  subject Marks :-
98
Enter the  2  semester  3  subject Marks :-
79
Enter the  3  semester  1  subject Marks :-
94
Enter the  3  semester  2  subject Marks :-
84
Enter the  3  semester  3  subject Marks :-
81
[3, 3, 3]
[89, 89, 89, 79, 98, 79, 94, 84, 81]
Maximum marks in  1  semester :-  89
Maximum marks in  2  semester :-  98
Maximum marks in  3  semester :-  94

In [ ]:
#eliminate duplicate elements from the list:
l=[12,2,1,2,34,234,33,2,4,234,23,4,23]
print(l)
s=set(l)
print(s)

[12, 2, 1, 2, 34, 234, 33, 2, 4, 234, 23, 4, 23]
{1, 2, 34, 33, 4, 234, 12, 23}

In [ ]:
#dictionary:
d={}
d[101]="Shubham"
d[102]="Agrawal"
print(d)

{101: 'Shubham', 102: 'Agrawal'}

In [ ]:
d={100:'Shubham',200:'Chirag',300:'Kapil'}
d[400]='sonu'
print(d)
print(d[400])

{100: 'Shubham', 200: 'Chirag', 300: 'Kapil', 400: 'sonu'}
sonu

In [ ]:
rec={}
n=int(input("Enter no. of students: "))
i=1
while i<=n:
  name=input("Enter student name: ")
  marks=input("Enter student marks: ")
  rec[name]=marks
  i+=1
print(rec)

Enter no. of students: 3
Enter student name: Shubham
Enter student marks: 99
Enter student name: Chirag
Enter student marks: 100
Enter student name: Kapil
Enter student marks: 100
{'Shubham': '99', 'Chirag': '100', 'Kapil': '100'}

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
#print(d[400])
print(d. get (100))
print(d. get (400))
print(d. get (100, "Guest" ))
print(d. get (400, "Guest"))

ashish
ashish
None
ashish
Guest

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: ' sandip'}
print(d. keys ())
for k in d. keys():
  print(k)

dict_keys([100, 200, 300])
100
200
300

In [ ]:
d={100: 'ashish' ,200: 'Prashant', 300: ' sandip'}
for k,v in d.items():
  print(k,"-->",v)

100 --> ashish
200 --> Prashant
300 -->  sandip

In [ ]:
d={}
n=int(input("Enter no. of students: "))
for i in range(n):
  name=input("Enter student name: ")
  marks=input("Enter student marks: ")
  d[name]=marks
sum=0
for k,v in d.items():
  sum+=int(v)
print(sum)

Enter no. of students: 3
Enter student name: Shubham
Enter student marks: 66
Enter student name: Chrag
Enter student marks: 77
Enter student name: Kapil
Enter student marks: 88
231

In [ ]:
#Next larger Element
N=4
arr=[1,3,2,4]
arr1=[]
for i in range(N):
  for j in range(i+1,N):
    if arr[i]<arr[j]:
      arr1.append(arr[j])
      break
arr1.append(-1)
print(arr1)

[3, 4, 4, -1]

In [5]:
input = "aabbbbeeeeffggg"
output = ""
count = 1
i = 0
while i < len(input):
    x = input[i]
    for j in range(i + 1, len(input)):
        if x == input[j]:
            count += 1
        else:
            break
    output += x + str(count)
    i += count
    count = 1
print(output)

a2b4e4f2g3

In [4]:
#Anagram or not:
str1="Listen"
str2="Silent"
l1=str1.lower()
l2=str2.lower()
if(len(l1)==len(l2)):
   if(sorted(l1)==sorted(l2)):
      print("Anagram")
   else:
      print("Not Anagram")
else:
   print("Not Anagram")

Anagram